

.card-style{
    /*position: absolute;*/
    width: 80%;
    height: 30%;
    /*top: 268px;*/
    margin-left: 10%;
    background: #FFFFFF;
    border-radius: 4px;
}
.title {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color:black;
    width: 80%;
    margin-left: 13%;

}

.el-menu-item.is-active {
    background-color: rgb(250, 250, 250) !important;
}
.item-title{
    height: 22px;
    left: 0%;
    right: 91.67%;
    top: calc(50% - 22px/2 - 11.75px);

    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    /* identical to box height */
    color: #000000;
}

.lable-title{
    height: 20px;
    left: 2%;
    top: calc(50% - 20px/2 - 200.5px);

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #282B34;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.context{
    height: 20px;
    left: 10%;
    right: 60.05%;
    top: calc(50% - 20px/2 - 521.5px);

    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #5576EC;
}
.context-black{
    height: 20px;
    left: 10%;
    right: 53.07%;
    top: calc(50% - 20px/2 - 483.5px);

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #000000;
}
.title3{
    height: 20px;
    left: 0%;
    right: 89.66%;
    top: calc(50% - 20px/2 - 40px);

    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #000000;
    mix-blend-mode: normal;
}

.title2{
    width: 80%!important;
    margin-left: 10%!important;
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    text-align: right;
    color: #000000;
}
.title1{
    width: 80%!important;
    margin-left: 11%!important;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
}
.el-tabs__item{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold!important;
    font-size: 18px!important;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}
.el-tabs__item.is-active {
    color: #000000;
}
.el-tabs__item:hover {
    color:  #000000;
    cursor: pointer;
}

.seeMoreButton {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #FFFFFF;
}

.tableHeader {
    background:rgb(242,242,242)!important;
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
}

.block-page-card {
    /*position: absolute;*/
    width: 80%;
    /*height: 40%;*/
    /*top: 268px;*/
    margin-left: 10%;
    background: #FFFFFF;
    /*border-radius: 4px;*/
}
.transferTable{
    width: 80%;
    margin-left: 10%;
}
/*.notificationDiv{*/
/*    width: 80%;*/
/*    margin-left: 10%;*/
/*}*/
/*.systemCallDiv {*/
/*    width: 80%;*/
/*    margin-left: 10%;*/
/*}*/
.item-name {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px!important;
    line-height: 24px;
    /* or 171% */
    color: #000000!important;
    mix-blend-mode: normal!important;
    opacity: 0.6;
}

.title4{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: #000000;
}
.title5{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /*line-height: ;*/
    /* identical to box height, or 133% */
    color: #000000;
}
.parameters-name{
    left: 2%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.list-card {
    width: 96%;
    margin-left: 2%;
}
.list-title {
    margin-bottom: 2%;
}
.list-table {
    text-align: center;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
}
.InfoTable{
    margin-top: 5px!important;
}
.event_parameters{
    margin-left: 30px;
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
}
.event_param{
    height: 20px;
    margin-left: 30px;
    top: calc(50% - 20px/2 - 200.5px);

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #282B34;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.el-collapse-item__header{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.el-button--mini, .el-button--mini.is-round {
    padding: 5px 5px;
    color: #5e72e4;
}
.el-button--small {
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    background-color: #5576EC;
}
.el-button--small:hover{
    background-color: rgba(85,118,236,0.8);
}

.table-list-item{
    font-family: Avenir,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #000000;

}
.table-list-item-blue{
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #5576EC;
}
